name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
  packages: write       # нужно, чтобы docker push в GHCR работал

jobs:
  build-test-analyze:
    runs-on: ubuntu-latest

    # Testcontainers сам поднимет Postgres/Redis при необходимости

    env:
      SPRING_PROFILES_ACTIVE: test
      MAVEN_OPTS: -Xmx1024m

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # для полного клонирования

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven  # ← Этого достаточно для кеширования Maven

      - name: Clear Maven cache
        run: mvn dependency:purge-local-repository

      # Нет ручного старта БД: Testcontainers управляет инфраструктурой

#      - name: Build and Test with Maven
#        run: mvn clean verify -Dspring.profiles.active=local
      - name: Build and Test with Maven
        run: mvn -B -T1C clean verify -Dspring.profiles.active=test -Dtest=!DemoApplicationTests

      - name: Run SonarQube Analysis
        if: always()
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: |
          mvn -B -e sonar:sonar \
          -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
          -Dsonar.organization=vladislavfvv \
          -Dsonar.projectKey=Vladislavfvv_userService

  docker-build:
    needs: build-test-analyze
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image to GHCR
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository }}/user_service
          IMAGE_NAME=$(echo $IMAGE_NAME | tr '[:upper:]' '[:lower:]')  
          TAG=${{ github.sha }}
          docker build -t $IMAGE_NAME:$TAG .
          docker push $IMAGE_NAME:$TAG
          echo "Image pushed: $IMAGE_NAME:$TAG"
